
@media screen and (max-width: 480px) {
    body {
        font-size: 14px; 
    }
    .primary-button {
        background-color: #04AA6D;
        border: 0.1px solid black;
        color: white;
        font-size: .8rem;
        padding: 10px;
        border-radius: 10px;
    }
    
    .primary-button:hover {
        background-color: rgb(51, 204, 138);
        border: 0.1px solid black;
        color:white;
        font-size: 1rem;
        padding: 10px;
        border-radius: 10px;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
.main-nav{
    display: flex;
    position: sticky;
    flex-direction: column;
    /* overflow: hidden; */
}
.colon{
    display: none;
}
.header-section{
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.left-section {
    color: rgb(201, 199, 204);
    width: 100%;
    font-size: 1rem;
    margin-top: 20px;
    padding-right: 20px;
    justify-content: center;
}
.btn {
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.right-section{
    margin-top: 20px;
    justify-content: center;
}
.right-section img {
    background-color: rgb(201, 199, 204);
    width: 300px;
    padding-top: 30px;
    padding-right: 15px;
    margin-right: 20px;
   
}
.card-container{
    flex-direction: column;
}
.card{
    width: 100%;
}
.card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.contacts{
    flex-direction: column;

}
.contact-form{
    flex-direction: column;
}
.form p{
    justify-content: start;
}
.form {
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    gap: 20px;
}
.map{
    width: 380px;
}
#form-placeholder {
    padding: 5px;
    width: 400px;
}
}
